@model Todolist.Models.Shield
@{
    ViewData["Title"] = "ShieldDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Shield Detail</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" class="form-control" name="Title" value="@Model.Title" readonly />
            </div>
            <div class="form-group">
                <label asp-for="TargetUrl" class="control-label"></label>
                <input type="text" class="form-control" name="TargetUrl" value="@Model.TargetUrl" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input type="text" class="form-control" name="Username" value="@Model.Username" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="text" class="form-control" name="Password" value="@Model.Password" readonly />
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input type="text" class="form-control" name="CreateDate" value="@Model.CreateDate" readonly />
            </div>
            <div class="form-group">
                <label asp-for="LastModified" class="control-label"></label>
                <input type="text" class="form-control" name="LastModified" value="@Model.LastModified" readonly />
            </div>
            <div class="form-group">
                <a class="btn btn-outline-info" href="@Url.Action("Shields","Home")">Back to List</a>
            </div>
        </form>
    </div>
</div>
