@model Todolist.ViewModels.TradeDashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardMonth" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardMonth">
                <h6 class="m-0 font-weight-bold text-primary">Candle Status</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardMonth" style="">
                <div class="card-body">
                    <div class="form-group d-flex">
                        <div class="col-md-4">
                            <select id="sltSymbol" class="form-control" required>
                                <option disabled selected>select Symbol</option>
                                @foreach (var sym in (Todolist.Models.TradeModels.Symbol[])Enum.GetValues(typeof(Todolist.Models.TradeModels.Symbol)))
                                {
                                    <option value="@string.Format("{0}",(int)sym)">@sym.ToString()</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select id="sltTimeframe" class="form-control" required>
                                <option disabled selected>select Timeframe</option>
                                @foreach (var tf in (Todolist.Models.TradeModels.Timeframe[])Enum.GetValues(typeof(Todolist.Models.TradeModels.Timeframe)))
                                {
                                    <option value="@string.Format("{0}",(int)tf)">@tf.ToString()</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <a href="#" onclick="RefreshCandles(event)" class="btn btn-outline-success"
                               style="width:80px;justify-content:right;height:38px;margin-right:5px;overflow:hidden;">Update
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label id="lblLastCandle" class="control-label col-md-2">Last Saved Candle : @Model.LastCandle</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="waitingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">alert</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">candles are updating.please wait ...</div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(function () {
            $(".modal").on('shown.bs.modal', function () {
                $(this).find('[autofocus]').focus();
            });
            if ('@TempData["TradeSuccess"]' != "") {
                $("#successDiv").removeAttr('hidden');
                $("#successMessage").text('@TempData["TradeSuccess"]');
                window.setTimeout(function () {
                    $("#successDiv").attr('hidden', 'hidden');
                }, 5000);
            }
            if ('@TempData["TradeError"]' != "") {
                $("#errorDiv").removeAttr('hidden');
                $("#errorMessage").text('@TempData["TradeError"]');
                window.setTimeout(function () {
                    $("#errorDiv").attr('hidden', 'hidden');
                }, 5000);
            }
        });
        function RefreshCandles(e)
        {
            e.preventDefault();
            $("#waitingModal").modal();
            $.ajax(
                {
                    url:'@Url.Action("RefreshCandles", "Trades")',
                    type:'post',
                    datatype: 'json',
                    data: { symbol: $("#sltSymbol").find(":selected").val(), timeframe: $("#sltTimeframe").find(":selected").val() },
                    success:function(result)
                    {
                    },
                    error:function(){}
                });
            $("#waitingModal").modal('toggle');
        }
    </script>
}
