@model Todolist.ViewModels.MarketDataCredetialViewModel
@{
    ViewBag.Title = "MarketDataCredentials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">@string.Format("{0}-{1}", Model.Symbol.ToString(), Model.Timeframe.ToString())</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-158px, 19px, 0px);">
                @foreach (var sym in (Todolist.Models.TradeModels.Symbol[])Enum.GetValues(typeof(Todolist.Models.TradeModels.Symbol)))
                {
                    foreach (var tf in (Todolist.Models.TradeModels.Timeframe[])Enum.GetValues(typeof(Todolist.Models.TradeModels.Timeframe)))
                    {
                        <a class="dropdown-item" href="@Url.Action("MarketDataCredentials","Trades",new { symbol = sym, timeframe = tf })">@string.Format("{0}-{1}", sym.ToString(), tf.ToString())</a>
                    }
                }
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body">
                <div class="row">
                    <div class="alert alert-success alert-dismissible fade show" role="alert" id="successDiv" hidden>
                        <p id="successMessage"></p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="errorDiv" hidden>
                        <p id="errorMessage"></p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card shadow mb-4 d-flex" style="min-height:575px;">
                            <a href="#" class="d-block card-header py-3" style="background-color:royalblue;">
                                <h6 class="font-weight-bold text-white text-center">Add Credential</h6>
                            </a>
                            <div class="collapse show">
                                <div class="card-body">
                                    <div class="p-9">
                                        @using (Html.BeginForm("AddCredential", "Trades", FormMethod.Post, new { enctype = "multipart/form-data", style = "padding:25px;", @class = "user" }))
                                        {
                                            <div class="form-group row">
                                                <input type="number" name="Symbol" id="Symbol" hidden value="" />
                                                <select class="form-control" id="sltSymbol" required>
                                                    <option value="-1" disabled selected>select symbol</option>
                                                    @foreach (var sym in (Todolist.Models.TradeModels.Symbol[])Enum.GetValues(typeof(Todolist.Models.TradeModels.Symbol)))
                                                    {
                                                        <option value="@string.Format("{0}",(int)sym)">@sym.ToString()</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group row">
                                                <input type="number" name="Timeframe" id="Timeframe" hidden value="" />
                                                <select class="form-control" id="sltTimeframe" required>
                                                    <option value="-1" disabled selected>select timeframe</option>
                                                    @foreach (var tf in (Todolist.Models.TradeModels.Timeframe[])Enum.GetValues(typeof(Todolist.Models.TradeModels.Timeframe)))
                                                    {
                                                        <option value="@string.Format("{0}",(int)tf)">@tf.ToString()</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group row">
                                                <input type="text" class="form-control form-control-user" id="Username" name="Username" required
                                                       placeholder="Username">
                                            </div>
                                            <div class="form-group row">
                                                <input type="password" class="form-control form-control-user" id="Password" name="Password" required
                                                       placeholder="Password">
                                            </div>
                                            <div class="form-group row">
                                                <input type="text" class="form-control form-control-user" id="ApiKey" name="ApiKey" required
                                                       placeholder="ApiKey">
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-user btn-block" style="width:25%;margin:0 auto;" id="btnCreateCredential">
                                                Create
                                            </button>
                                            <hr>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card shadow mb-4 d-flex" style="min-height:575px;">
                            <a href="#" class="d-block card-header py-3" style="background-color:paleturquoise;">
                                <h6 class="font-weight-bold text-primary text-center">Credential List</h6>
                            </a>
                            <div class="collapse show">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead style="text-align:center;">
                                                <tr>
                                                    <th>Username</th>
                                                    <th>ApiKey</th>
                                                    <th>CallCount</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tfoot style="text-align:center;">
                                                <tr>
                                                    <th>Username</th>
                                                    <th>ApiKey</th>
                                                    <th>CallCount</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                @foreach (var cre in Model.Credentials.OrderByDescending(p => p.Username))
                                                {
                                                    <tr style="text-align:center;">
                                                        <td>@cre.Username</td>
                                                        <td>@cre.ApiKey</td>
                                                        <td>@cre.CallCounter</td>
                                                        <td>
                                                            <a href="#" onclick="DeleteCredential('@cre.Id','@cre.Username')" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
                                                            <a href="#" onclick="CredentialDetail('@cre.Id','@cre.Username','@cre.Password','@cre.Symbol.ToString()','@cre.Timeframe.ToString()','@cre.ApiKey','@cre.CallCounter')"
                                                               class="btn btn-outline-info"><i class="fa fa-info-circle"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">are you sure you want to delete this credential?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="txtmodalBody"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="#" id="btnMDelete">delete</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">credential detail</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt style="margin-bottom:5px;">id</dt>
                        <dd class="form-control" style="margin-bottom:5px;" id="ddId"></dd>
                        <dt style="margin-bottom:5px;">symbol</dt>
                        <dd class="form-control" style="margin-bottom:5px;" id="ddSymbol"></dd>
                        <dt style="margin-bottom:5px;">timeframe</dt>
                        <dd class="form-control" style="margin-bottom:5px;" id="ddTimeframe"></dd>
                        <dt style="margin-bottom:5px;">username</dt>
                        <dd class="form-control" style="margin-bottom:5px;" id="ddUsername"></dd>
                        <dt style="margin-bottom:5px;">password</dt>
                        <dd class="form-control" style="margin-bottom:5px;" id="ddPassword"></dd>
                        <dt style="margin-bottom:5px;">api key</dt>
                        <dd class="form-control" style="margin-bottom:5px;" id="ddApiKey"></dd>
                        <dt style="margin-bottom:5px;">call count</dt>
                        <dd class="form-control" style="margin-bottom:5px;" id="ddCallCount"></dd>
                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(function()
    {
        if ('@TempData["CredentialSuccess"]' != "")
        {
            $("#successDiv").removeAttr('hidden');
                $("#successMessage").text('@TempData["CredentialSuccess"]');
            window.setTimeout(function()
            {
                    $("#successDiv").attr('hidden','hidden');
            },5000);
        }
            if ('@TempData["CredentialError"]' != "") {
                $("#errorDiv").removeAttr('hidden');
                $("#errorMessage").text('@TempData["CredentialError"]');
                window.setTimeout(function () {
                    $("#errorDiv").attr('hidden', 'hidden');
                }, 5000);
        }
        $("#sltSymbol").change(function () {
            $("#Symbol").val($("#sltSymbol").find(":selected").val());
        });
        $("#sltTimeframe").change(function () {
            $("#Timeframe").val($("#sltTimeframe").find(":selected").val());
        });
    });
        function DeleteCredential(nid, username)
        {
            $("#txtmodalBody").text('Username : ' + username);
            $("#btnMDelete").attr('href', '@Url.Action("DeleteCredential", "Trades")' + '?id=' + nid + '&symbol=' + @string.Format("{0}", (int)Model.Symbol) + '&timeframe=' 
                + @string.Format("{0}", (int)Model.Timeframe));
            $("#deleteModal").modal();
        }
        function CredentialDetail(nid, username, password, symbol, timeframe, apikey, callcount)
        {
            $("#ddId").text(nid);
            $("#ddSymbol").text(symbol);
            $("#ddTimeframe").text(timeframe);
            $("#ddUsername").text(username);
            $("#ddPassword").text(password);
            $("#ddApiKey").text(apikey);
            $("#ddCallCount").text(callcount);
            $("#detailModal").modal();
        }
    </script>
}

