@model Todolist.ViewModels.NewTradeDashboardViewModel
@{
    ViewBag.Title = "Trade Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="PageWrapper">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            @if (Model.Candle != null)
            {
                <h6 class="m-0 font-weight-bold text-primary">@string.Format("{0}-{1}", Enum.GetName(typeof(Todolist.Models.TradeModels.Symbol), Model.Candle.Symbol), Enum.GetName(typeof(Todolist.Models.TradeModels.Timeframe), Model.Candle.Timeframe))</h6>
            }
            else
            {
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            }
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-158px, 19px, 0px);">
                    @foreach (var sym in (Todolist.Models.TradeModels.Symbol[])Enum.GetValues(typeof(Todolist.Models.TradeModels.Symbol)))
                    {
                        foreach (var tf in (Todolist.Models.TradeModels.Timeframe[])Enum.GetValues(typeof(Todolist.Models.TradeModels.Timeframe)))
                        {
                            <a class="dropdown-item" href="@Url.Action("TradeDashboard","Trades",new { symbol = sym, timeframe = tf })">@string.Format("{0}-{1}", sym.ToString(), tf.ToString())</a>
                        }
                    }
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <!--top buttons-->
            <div class="row">
                <div class="col-md-12 mb-12 d-flex mb-4">
                    @if (Model.Candle != null)
                    {
                        <a class="btn btn-outline-success" href="@Url.Action("DefineOrderBlocks","Trades",new { symbol = Model.Candle.Symbol,timeframe = Model.Candle.Timeframe })">Add Ob</a>
                    }
                </div>
            </div>
            <!--current status-->
            <div class="row">
                <div id="activeRow" class="col-xl-12 col-md-12">
                    <div class="row d-flex">
                        <div class="col-xl-3 col-md-3 mb-3">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-sm-left font-weight-bold text-success text-uppercase mb-1">
                                                Price
                                            </div>
                                                @if (Model.Candle != null)
                                                {
                                                    <div class="h6 mb-0 text-gray-800 text-center">@Model.Candle.Close.ToString()</div>
                                                }
                                                else
                                                {
                                                    <div class="h6 mb-0 text-gray-800 text-center"></div>
                                                }
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3 mb-3">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-sm-left font-weight-bold text-primary text-uppercase mb-1">
                                                RSI
                                            </div>
                                            @if (Model.Candle != null)
                                            {
                                                <div class="h6 mb-0 text-gray-800 text-center">@Model.Candle.RSI.ToString()</div>
                                            }
                                            else
                                            {
                                                <div class="h6 mb-0 text-gray-800 text-center"></div>
                                            }
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3 mb-3">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-sm-left font-weight-bold text-danger text-uppercase mb-1">
                                                MACD
                                            </div>
                                            @if (Model.Candle != null)
                                            {
                                                <div class="h6 mb-0 text-gray-800 text-center">@Model.Estimate.LinesOnMacdMapPosition.ToString()</div>
                                                <div class="h6 mb-0 text-gray-800 text-center">@Model.Estimate.LinesPosition.ToString()</div>
                                            }
                                            else
                                            {
                                                <div class="h6 mb-0 text-gray-800 text-center"></div>
                                                <div class="h6 mb-0 text-gray-800 text-center"></div>
                                            }
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-wave-square fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3 mb-3">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-sm-left font-weight-bold text-secondary text-uppercase mb-1">
                                                Status
                                            </div>
                                            @if (Model.Signal != null)
                                            {
                                                <div class="h6 mb-0 text-gray-800 text-center">signal generated</div>
                                            }
                                            else
                                            {
                                                <div class="h6 mb-0 text-gray-800 text-center">probing</div>
                                            }
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-lightbulb fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a href="#" id="btnMoreDetail" style="padding-left:1em;"><i class="fa fa-plus"></i> details</a>
                    </div>
                    <div id="divStatusDetail" class="row" hidden>
                        <div class="col-xl-3 col-md-3 mb-3">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-sm-left font-weight-bold text-warning text-uppercase mb-1">
                                                Ema50
                                            </div>
                                            @if (Model.Candle != null)
                                            {
                                                <div class="h6 mb-0 text-gray-800 text-center">@Model.Candle.Ema50.ToString()</div>
                                            }
                                            else
                                            {
                                                <div class="h6 mb-0 text-gray-800 text-center"></div>
                                            }
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-stopwatch fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3 mb-3">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-sm-left font-weight-bold text-info text-uppercase mb-1">
                                                Ema200
                                            </div>
                                            @if (Model.Candle != null)
                                            {
                                                <div class="h6 mb-0 text-gray-800 text-center">@Model.Candle.Ema200.ToString()</div>
                                            }
                                            else
                                            {
                                                <div class="h6 mb-0 text-gray-800 text-center"></div>
                                            }
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-stopwatch-20 fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3 mb-3">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-sm-left font-weight-bold text-dark text-uppercase mb-1">
                                                Candles To EMA Position
                                            </div>
                                            @if (Model.Candle != null)
                                            {
                                                <div class="h6 mb-0 text-gray-800 text-center">@Model.Estimate.CandlesToEMAPosition.ToString()</div>
                                            }
                                            else
                                            {
                                                <div class="h6 mb-0 text-gray-800 text-center"></div>
                                            }
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-satellite-dish fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3 mb-3">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-sm-left font-weight-bold text-success text-uppercase mb-1">
                                                Histogram Position
                                            </div>
                                            @if (Model.Candle != null)
                                            {
                                                <div class="h6 mb-0 text-gray-800 text-center">@Model.Estimate.HistogramPosition.ToString()</div>
                                            }
                                            else
                                            {
                                                <div class="h6 mb-0 text-gray-800 text-center"></div>
                                            }
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-money-bill-wave fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            <h4 class="header-control mb-4">Current Signal</h4>
            <!--current signal-->
            @if (Model.Signal != null)
            {
                <div class="row">
                    <div id="activeRow" class="col-xl-12 col-md-12">
                        <div class="row d-flex">
                            <div class="col-xl-3 col-md-3 mb-3">
                                <div class="card border-left-warning shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-sm-left font-weight-bold text-warning text-uppercase mb-1">
                                                    Entry
                                                </div>
                                                <div class="h6 mb-0 text-gray-800 text-center">@Todolist.Helpers.CommonTradeOperations.ConvertToPersianDate(Model.Signal.StartDate)</div>
                                                <div class="h6 mb-0 text-gray-800 text-center">@Model.Signal.EnterPrice.ToString("0.0##")</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3 mb-3">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-sm-left font-weight-bold text-success text-uppercase mb-1">
                                                    Profit
                                                </div>
                                                <div class="h6 mb-0 text-gray-800 text-center">@Model.SignalProgress.Profit</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-percent fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3 mb-3">
                                <div class="card border-left-danger shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-sm-left font-weight-bold text-danger text-uppercase mb-1">
                                                    stop loss
                                                </div>
                                                <div class="h6 mb-0 text-gray-800 text-center">@Model.Signal.StopLostPrice.ToString("0.0##")</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-stop-circle fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3 mb-3">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-sm-left font-weight-bold text-primary text-uppercase mb-1">
                                                    take profit
                                                </div>
                                                <div class="h6 mb-0 text-gray-800 text-center">@Model.Signal.TakeProfitPrice.ToString("0.0##")</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-bullhorn fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div id="deactiveRow" style="opacity:0.5;" class="col-xl-12 col-md-12">
                        <div class="row d-flex">
                            <div class="col-xl-3 col-md-3 mb-3">
                                <div class="card border-left-warning shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-sm-left font-weight-bold text-warning text-uppercase mb-1">
                                                    Entry
                                                </div>
                                                <div class="h6 mb-0 text-gray-800"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3 mb-3">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-sm-left font-weight-bold text-success text-uppercase mb-1">
                                                    Profit
                                                </div>
                                                <div class="h6 mb-0 text-gray-800"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-percent fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3 mb-3">
                                <div class="card border-left-danger shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-sm-left font-weight-bold text-danger text-uppercase mb-1">
                                                    stop loss
                                                </div>
                                                <div class="h6 mb-0 text-gray-800"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-stop-circle fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3 mb-3">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-sm-left font-weight-bold text-primary text-uppercase mb-1">
                                                    take profit
                                                </div>
                                                <div class="h6 mb-0 text-gray-800"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-bullhorn fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <hr />
            <h4 class="header-control mb-4">Statistics</h4>
            <!--statistics-->
            <div class="row" id="statistics">
                <div class="form-group d-flex">
                    <label class="control-label col-md-4" style="padding-top:6px;">month : </label>
                    <div class="col-md-12">
                        <select id="sltCurrentMonth" class="form-control">
                            <option disabled>select month</option>
                            <option value="1">1-farvardin</option>
                            <option value="2">2-ordibehesht</option>
                            <option value="3">3-khordad</option>
                            <option value="4">4-tir</option>
                            <option value="5">5-mordad</option>
                            <option value="6">6-shahrivar</option>
                            <option value="7">7-mehr</option>
                            <option value="8">8-aban</option>
                            <option value="9">9-azar</option>
                            <option value="10">10-dey</option>
                            <option value="11">11-bahman</option>
                            <option value="12">12-esfand</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Total Signals
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">count   : @Model.SignalResultsVM.MonthlyCardStat.Item1 </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">profit  : @Model.SignalResultsVM.MonthlyCardStatPercentage.Item1.ToString("0.0##") %</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-database fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Total Wins
                                    </div>
                                    @if (Model.SignalResultsVM.MonthlyCardStat.Item1 != 0)
                                    {
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">count    : @Model.SignalResultsVM.MonthlyCardStat.Item2 </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">Win Rate : @string.Format("{0}", Math.Round(Convert.ToDecimal(Model.SignalResultsVM.MonthlyCardStat.Item2) / Convert.ToDecimal(Model.SignalResultsVM.MonthlyCardStat.Item1) * 100)) % </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">profit   : @Model.SignalResultsVM.MonthlyCardStatPercentage.Item2.ToString("0.0##") %</div>
                                    }
                                    else
                                    {
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">count    : N/A </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">Win Rate : N/A </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">profit   : N/A </div>
                                    }
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-arrow-up fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        Total Evens
                                    </div>
                                    @if (Model.SignalResultsVM.MonthlyCardStat.Item1 != 0)
                                    {
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">count     : @Model.SignalResultsVM.MonthlyCardStat.Item3 </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">Even Rate : @string.Format("{0}", Math.Round(Convert.ToDecimal(Model.SignalResultsVM.MonthlyCardStat.Item3) / Convert.ToDecimal(Model.SignalResultsVM.MonthlyCardStat.Item1) * 100)) % </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">profit    : @Model.SignalResultsVM.MonthlyCardStatPercentage.Item3.ToString("0.0##") %</div>
                                    }
                                    else
                                    {
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">count     : N/A </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">Even Rate : N/A </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">profit    : N/A </div>
                                    }
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-bell fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                        Total Losses
                                    </div>
                                    @if (Model.SignalResultsVM.MonthlyCardStat.Item1 != 0)
                                    {
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">count     : @Model.SignalResultsVM.MonthlyCardStat.Item4 </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">Lose Rate : @string.Format("{0}", Math.Round(Convert.ToDecimal(Model.SignalResultsVM.MonthlyCardStat.Item4) / Convert.ToDecimal(Model.SignalResultsVM.MonthlyCardStat.Item1) * 100)) % </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">profit    : @Model.SignalResultsVM.MonthlyCardStatPercentage.Item4.ToString("0.0##") %</div>
                                    }
                                    else
                                    {
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">count     : N/A </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">Lose Rate : N/A </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">profit    : N/A </div>
                                    }
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-arrow-down fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <h4 class="header-control mb-4">Signal Results Report</h4>
                <div class="chart-area">
                    <canvas id="SignalResultsArea"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10"><h4 class="header-control mb-4">Results List</h4></div>
                <div class="col-md-2" style="text-align:right;">
                    @*<a class="btn btn-outline-info mr-2" href="@Url.Action("GetSignalEstimates","Trades",new { symbol = Model.Symbol,timeframe = Model.Timeframe })">Download Estimates</a>*@
                    <a class="btn btn-outline-danger mr-2" href="#" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash"></i></a>
                    <a href="@Url.Action("DownloadSignalResult","Trades",new { symbol = Model.SignalResultsVM.Symbol,timeframe = Model.SignalResultsVM.Timeframe })" class="btn btn-outline-success"><i class="fa fa-download"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                        <thead style="text-align:center;">
                            <tr>
                                <th>type</th>
                                <th>Start Date</th>
                                <th>Enter Price</th>
                                <th>StopLost Price</th>
                                <th>TakeProfit Price</th>
                                <th>Close Date</th>
                                <th>Close Price</th>
                                <th>Profit</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tr in Model.SignalResultsVM.SignalResults.OrderByDescending(p => p.StartDate))
                            {
                                switch (tr.Status)
                                {
                                    case Todolist.Models.TradeModels.SignalResultStatus.successful:
                                        <tr style="text-align:center;background-color:#bbf2cf;">
                                            <td>@tr.SignalType.ToString().Replace("ish", "")</td>
                                            <td>@Todolist.Helpers.Dates.ToPersianDate2(tr.StartDate, true)</td>
                                            <td>@tr.EnterPrice.ToString("0.0##")</td>
                                            <td>@tr.StopLostPrice.ToString("0.0##")</td>
                                            <td>@tr.TakeProfitPrice.ToString("0.0##")</td>
                                            <td>@Todolist.Helpers.Dates.ToPersianDate2(tr.CloseDate, true)</td>
                                            <td>@tr.ClosePrice.ToString("0.0##")</td>
                                            <td>@tr.ProfitPercentage.ToString("0.0##") %</td>
                                            <td>@tr.Duration</td>
                                        </tr>
                                        break;
                                    case Todolist.Models.TradeModels.SignalResultStatus.equal:
                                        <tr style="text-align:center;background-color:khaki;">
                                            <td>@tr.SignalType.ToString().Replace("ish", "")</td>
                                            <td>@Todolist.Helpers.Dates.ToPersianDate2(tr.StartDate, true)</td>
                                            <td>@tr.EnterPrice.ToString("0.0##")</td>
                                            <td>@tr.StopLostPrice.ToString("0.0##")</td>
                                            <td>@tr.TakeProfitPrice.ToString("0.0##")</td>
                                            <td>@Todolist.Helpers.Dates.ToPersianDate2(tr.CloseDate, true)</td>
                                            <td>@tr.ClosePrice.ToString("0.0##")</td>
                                            <td>@tr.ProfitPercentage.ToString("0.0##") %</td>
                                            <td>@tr.Duration</td>
                                        </tr>
                                        break;
                                    case Todolist.Models.TradeModels.SignalResultStatus.unsuccessful:
                                        <tr style="text-align:center;background-color:#f5c9ce;">
                                            <td>@tr.SignalType.ToString().Replace("ish", "")</td>
                                            <td>@Todolist.Helpers.Dates.ToPersianDate2(tr.StartDate, true)</td>
                                            <td>@tr.EnterPrice.ToString("0.0##")</td>
                                            <td>@tr.StopLostPrice.ToString("0.0##")</td>
                                            <td>@tr.TakeProfitPrice.ToString("0.0##")</td>
                                            <td>@Todolist.Helpers.Dates.ToPersianDate2(tr.CloseDate, true)</td>
                                            <td>@tr.ClosePrice.ToString("0.0##")</td>
                                            <td>@tr.ProfitPercentage.ToString("0.0##") %</td>
                                            <td>@tr.Duration</td>
                                        </tr>
                                        break;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">alert</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="txtmodalBody">are you sure you want to delete all signals for this timeframe?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="@Url.Action("DeleteSignals","Trades",new { symbol = Model.SignalResultsVM.Symbol,timeframe = Model.SignalResultsVM.Timeframe })" id="btnMDelete">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="@Url.Content("~/Contents/vendor/chart.js/Chart.min.js")"></script>
    <script src="@Url.Content("~/Contents/js/demo/chart-area-demo.js")"></script>
    <script type="text/javascript">
        $(function () {
            $("#dataTable1").DataTable({
                "order": [[1, "desc"]],
                "pageLength": 50
            });
            $("#btnMoreDetail").click(function (e)
            {
                e.preventDefault();
                $("#divStatusDetail").removeAttr('hidden');
                $(this).attr('hidden', 'hidden');
            });
            $("#sltCurrentMonth").val(@Model.SignalResultsVM.CurrentMonth).change();
            SetAreaChart('SignalResultsArea',@Html.Raw(Model.SignalResultsVM.SignalResultsAreaChart.Item1),@Html.Raw(Model.SignalResultsVM.SignalResultsAreaChart.Item2),'%');
            $("#sltCurrentMonth").change(function ()
            {
                var url = '@Url.Action("TradeDashboard", "Trades")' + '?symbol='+@string.Format("{0}", (int)Model.SignalResultsVM.Symbol)+'&timeframe='+@string.Format("{0}", (int)Model.SignalResultsVM.Timeframe)
                    +'&Month=' + $(this).val() + '#statistics';
                window.location = url;
            });
        });
    </script>
}

